Repository adamchainz/apig-wsgi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-manifest, flake8, isort

check-manifest:
  name: check-manifest
  entry: check-manifest
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: .tox/py39-codestyle/bin/flake8 --config=setup.cfg
  language: system

isort:
  name: isort
  entry: .tox/py39-codestyle/bin/isort
  language: system

Stop distributing tests to reduce package size.
  HISTORY.rst
  MANIFEST.in
Due: check-manifest

Stop distributing tests to reduce package size. (#224)
  HISTORY.rst
  MANIFEST.in
Due: check-manifest

Upgrade requirements
  requirements/py36.txt
  requirements/py37.txt
Due: none

Upgrade requirements (#226)
  requirements/py36.txt
  requirements/py37.txt
Due: none

Upgrade example app requirements
  example/app/manage.py
  example/app/requirements.txt
  example/deployment/requirements.txt
Due: flake8, isort

Upgrade example app requirements (#229)
  example/app/manage.py
  example/app/requirements.txt
  example/deployment/requirements.txt
Due: flake8, isort

Upgrade requirements
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#230)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Remove old coveralls references.
  .github/workflows/main.yml
  README.rst
Due: none

Remove old coveralls references. (#231)
  .github/workflows/main.yml
  README.rst
Due: none

Update GitHub Actions to use tox-py
  .github/workflows/main.yml
Due: none

Update GitHub Actions to use tox-py (#232)
  .github/workflows/main.yml
Due: none

Ensure wheel installed on CI
  .github/workflows/main.yml
Due: none

Ensure wheel installed on CI (#233)
  .github/workflows/main.yml
Due: none

Upgrade requirements (#235)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Sync flake8 config with Black recommendation
  setup.cfg
Due: none

Sync flake8 config with Black recommendation (#237)
  setup.cfg
Due: none

Use coverage 'source' option
  setup.cfg
Due: none

Use coverage 'source' option (#238)
  setup.cfg
Due: none

Upgrade requirements (#241)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Support Python 3.10.
  .github/workflows/main.yml
  HISTORY.rst
  README.rst
  requirements/compile.py
  requirements/py310.txt
  setup.cfg
  tox.ini
Due: flake8, isort

Upgrade requirements
  requirements/py310.txt
Due: none

Upgrade pytest-randomly
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Support Python 3.10. (#240)
  .github/workflows/main.yml
  HISTORY.rst
  README.rst
  requirements/compile.py
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
  setup.cfg
  tox.ini
Due: flake8, isort

Version 2.11.0
  HISTORY.rst
  setup.cfg
Due: none

add strip_stage_prefix parameter to handle API Gateway stage with custom domain
  README.rst
  src/apig_wsgi.py
  tests/test_apig_wsgi.py
Due: flake8, isort

Upgrade requirements (#249)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade example app requirements
  example/app/requirements.txt
  example/deployment/requirements.txt
Due: none

Upgrade example app requirements (#250)
  example/app/requirements.txt
  example/deployment/requirements.txt
Due: none

Fixed encoding for ALB, added tests, and CloudFormation to create an ALB in the example
  example/README.rst
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
  src/apig_wsgi.py
  tests/test_apig_wsgi.py
Due: flake8, isort

Fix line lengths
  tests/test_apig_wsgi.py
Due: flake8, isort

Upgrade requirements
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#255)
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#258)
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Path conditions:
  check-manifest: any of: ^MANIFEST\.in$
  flake8: any of: \.py$
  isort: any of: \.py$
