Repository adamchainz/apig-wsgi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-manifest, flake8, isort

check-manifest:
  name: check-manifest
  entry: check-manifest
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: .tox/py39-codestyle/bin/flake8 --config=setup.cfg
  language: system

isort:
  name: isort
  entry: .tox/py39-codestyle/bin/isort
  language: system

Upgrade requirements
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#334)
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade Black used by blacken-docs
  .pre-commit-config.yaml
Due: none

Update warning control in tox.ini
  tox.ini
Due: none

Update warning control in tox.ini (#336)
  tox.ini
Due: none

Upgrade requirements (#338)
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#339)
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#342)
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Confirm support for Lambda Function URL’s
  README.rst
  example/app/testapp/views.py
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
Due: flake8, isort

Confirm support for Lambda Function URL’s (#345)
  README.rst
  example/app/testapp/views.py
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
Due: flake8, isort

Upgrade requirements
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#346)
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#349)
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Tidy MANIFEST.in and remove check-manifest
  .pre-commit-config.yaml
  MANIFEST.in
  setup.cfg
Due: check-manifest

Tidy MANIFEST.in and remove check-manifest (#350)
  .pre-commit-config.yaml
  MANIFEST.in
  setup.cfg
Due: check-manifest

README link to WSGI PEP
  README.rst
Due: none

Disable blank GitHub issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Disable blank GitHub issues (#353)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Tidy MANIFEST.in further
  MANIFEST.in
Due: check-manifest

Support Python 3.11
  .github/workflows/main.yml
  HISTORY.rst
  README.rst
  requirements/compile.py
  requirements/py311.txt
  setup.cfg
  tox.ini
Due: flake8, isort

Support Python 3.11 (#354)
  .github/workflows/main.yml
  HISTORY.rst
  README.rst
  requirements/compile.py
  requirements/py311.txt
  setup.cfg
  tox.ini
Due: flake8, isort

Version 2.14.0
  HISTORY.rst
  setup.cfg
Due: none

Upgrade GitHub Actions
  .github/workflows/main.yml
Due: none

Upgrade GitHub Actions (#355)
  .github/workflows/main.yml
Due: none

Upgrade requirements
  requirements/py310.txt
  requirements/py311.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#356)
  requirements/py310.txt
  requirements/py311.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Make requirements compile disable pip's require-virtualenv flag always
  requirements/compile.py
Due: flake8, isort

Upgrade requirements (#359)
  requirements/py310.txt
  requirements/py311.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#361)
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Update setuptools config
  pyproject.toml
Due: none

Update setuptools config (#363)
  pyproject.toml
Due: none

Upgrade requirements (#365)
  requirements/py310.txt
  requirements/py311.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Remove setup.py
  setup.py
Due: flake8, isort

Path conditions:
  check-manifest: any of: ^MANIFEST\.in$
  flake8: any of: \.py$
  isort: any of: \.py$
