Repository adamchainz/apig-wsgi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-manifest, flake8, isort

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 20.8b1 # Replace by any tag/version: https://github.com/psf/black/tags
  hooks:
  - id: black
- repo: local
  hooks:
  - id: check-manifest
    name: check-manifest
    entry: check-manifest
    language: system
    pass_filenames: false
    files: ^MANIFEST\.in$
  - id: flake8
    name: flake8
    entry: .tox/py39-codestyle/bin/flake8 --config=setup.cfg
    language: system
    types: [python]
  - id: isort
    name: isort
    entry: .tox/py39-codestyle/bin/isort
    language: system
    types: [python]

Upgrade requirements (#310)
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Only upload coverage HTML report on failure
  .github/workflows/main.yml
Due: none

Only upload coverage HTML report on failure (#311)
  .github/workflows/main.yml
Due: none

Move coverage parallel setting to setup.cfg
  setup.cfg
  tox.ini
Due: none

Move coverage parallel setting to setup.cfg (#313)
  setup.cfg
  tox.ini
Due: none

Upgrade requirements
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#315)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade example app to Python 3.10 and Django 4.0
  example/README.rst
  example/app/requirements.txt
  example/deployment/requirements.txt
Due: none

Upgrade example app to Python 3.10 and Django 4.0 (#317)
  example/README.rst
  example/app/requirements.txt
  example/deployment/requirements.txt
Due: none

Fix requirements/compile.py when PIP_REQUIRE_VIRTUALENV isn't set
  requirements/compile.py
Due: flake8, isort

Fix requirements/compile.py when PIP_REQUIRE_VIRTUALENV isn't set (#318)
  requirements/compile.py
Due: flake8, isort

Tidy up MANIFEST.in
  MANIFEST.in
Due: check-manifest

Improve Flake8 config
  setup.cfg
  tests/test_apig_wsgi.py
Due: flake8, isort

Improve Flake8 config (#320)
  setup.cfg
  tests/test_apig_wsgi.py
Due: flake8, isort

Upgrade requirements
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#322)
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Run tests with Python Development Mode on
  tox.ini
Due: none

Run tests with Python Development Mode on (#323)
  tox.ini
Due: none

Simplify tox 'deps' setting
  tox.ini
Due: none

Simplify tox 'deps' setting (#324)
  tox.ini
Due: none

Update README book ad banner
  README.rst
Due: none

Update README book ad banner (#325)
  README.rst
Due: none

Drop Python 3.6 support
  .github/workflows/main.yml
  .pre-commit-config.yaml
  HISTORY.rst
  README.rst
  pyproject.toml
  requirements/compile.py
  requirements/py36.txt
  setup.cfg
Due: flake8, isort

Drop Python 3.6 support (#326)
  .github/workflows/main.yml
  .pre-commit-config.yaml
  HISTORY.rst
  README.rst
  pyproject.toml
  requirements/compile.py
  requirements/py36.txt
  setup.cfg
Due: flake8, isort

Version 2.13.0
  HISTORY.rst
  setup.cfg
Due: none

Remove Python 3.6 env from tox.ini
  tox.ini
Due: none

Remove Python 3.6 env from tox.ini (#327)
  tox.ini
Due: none

Measure coverage of tests
  setup.cfg
Due: none

Add missing tests
  tests/test_apig_wsgi.py
Due: flake8, isort

Measure coverage of tests (#328)
  setup.cfg
  tests/test_apig_wsgi.py
Due: flake8, isort

Upgrade requirements
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#330)
  requirements/py310.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Add __future__.annotations to all files
  example/app/manage.py
  example/app/testapp/settings.py
  example/app/testapp/tests.py
  example/app/testapp/urls.py
  example/app/testapp/views.py
  example/app/testapp/wsgi.py
  pyproject.toml
  requirements/compile.py
  setup.py
  src/apig_wsgi/__init__.py
  tests/test_apig_wsgi.py
Due: flake8, isort

Add __future__.annotations to all files (#332)
  example/app/manage.py
  example/app/testapp/settings.py
  example/app/testapp/tests.py
  example/app/testapp/urls.py
  example/app/testapp/views.py
  example/app/testapp/wsgi.py
  pyproject.toml
  requirements/compile.py
  setup.py
  src/apig_wsgi/__init__.py
  tests/test_apig_wsgi.py
Due: flake8, isort

Only mention earliest year in LICENSE copyright file
  LICENSE
Due: none

Make PR pushes cancel previous actions runs
  .github/workflows/main.yml
Due: none

Tidy order
  .github/workflows/main.yml
Due: none

Make PR pushes cancel previous actions runs (#333)
  .github/workflows/main.yml
Due: none
