Repository adamchainz/apig-wsgi: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-manifest, flake8, isort

check-manifest:
  name: check-manifest
  entry: check-manifest
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: .tox/py39-codestyle/bin/flake8 --config=setup.cfg
  language: system

isort:
  name: isort
  entry: .tox/py39-codestyle/bin/isort
  language: system

Upgrade requirements (#259)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Add pyupgrade pre-commit hook
  .pre-commit-config.yaml
Due: none

Add pyupgrade pre-commit hook (#261)
  .pre-commit-config.yaml
Due: none

Add blacken-docs pre-commit hook
  .pre-commit-config.yaml
Due: none

Add blacken-docs pre-commit hook (#262)
  .pre-commit-config.yaml
Due: none

Tidy .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Tidy .pre-commit-config.yaml (#263)
  .pre-commit-config.yaml
Due: none

Add issue form
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

Add issue form (#264)
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

Add description to issue template
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

Add more to issue template
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

Tweak placeholders in issue template
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

Upgrade requirements
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#269)
  requirements/py310.txt
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Add flake8-typing-imports
  .pre-commit-config.yaml
Due: none

Select code
  setup.cfg
Due: none

Add flake8-typing-imports (#271)
  .pre-commit-config.yaml
  setup.cfg
Due: none

Fixed encoding for ALB, added tests, and CloudFormation to create an ALB in the example
  example/README.rst
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
  src/apig_wsgi.py
  tests/test_apig_wsgi.py
Due: flake8, isort

Simplify special check for alb version
  src/apig_wsgi.py
Due: flake8, isort

Combine v1 and alb pathways
  src/apig_wsgi.py
Due: flake8, isort

Reorganize tests
  tests/test_apig_wsgi.py
Due: flake8, isort

Simplify make_alb_event
  tests/test_apig_wsgi.py
Due: flake8, isort

RESERVED_URI_CHARACTERS as a string
  src/apig_wsgi.py
Due: flake8, isort

V1 events now send isBase64Encoded
  tests/test_apig_wsgi.py
Due: flake8, isort

HISTORY note
  HISTORY.rst
Due: none

better history note
  HISTORY.rst
Due: none

Fix handling of query string encoding in ALB deployments (#272)
  HISTORY.rst
  example/README.rst
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
  src/apig_wsgi.py
  tests/test_apig_wsgi.py
Due: flake8, isort

Improve HISTORY note
  HISTORY.rst
Due: none

Improve HISTORY note (#273)
  HISTORY.rst
Due: none

Make ALB optional for example app
  example/README.rst
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
Due: none

Make ALB optional for example app (#274)
  example/README.rst
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
Due: none

Add type hints
  .pre-commit-config.yaml
  HISTORY.rst
  MANIFEST.in
  README.rst
  example/app/testapp/settings.py
  example/app/testapp/tests.py
  example/app/testapp/views.py
  example/app/testapp/wsgi.py
  pyproject.toml
  setup.cfg
  src/apig_wsgi/__init__.py
  src/apig_wsgi/py.typed
  tests/__init__.py
  tests/test_apig_wsgi.py
Due: check-manifest, flake8, isort

Add type hints (#275)
  .pre-commit-config.yaml
  HISTORY.rst
  MANIFEST.in
  README.rst
  example/app/testapp/settings.py
  example/app/testapp/tests.py
  example/app/testapp/views.py
  example/app/testapp/wsgi.py
  pyproject.toml
  setup.cfg
  src/apig_wsgi/__init__.py
  src/apig_wsgi/py.typed
  tests/__init__.py
  tests/test_apig_wsgi.py
Due: check-manifest, flake8, isort

Version 2.12.0
  HISTORY.rst
  setup.cfg
Due: none

Fix example app and upgrade to Python 3.9
  example/app/requirements.txt
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
  example/deployment/requirements.txt
Due: none

Fix example app and upgrade to Python 3.9 (#276)
  example/app/requirements.txt
  example/deployment/files/cloudformation_site.yml
  example/deployment/playbook.yml
  example/deployment/requirements.txt
Due: none

Upgrade requirements
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Upgrade requirements (#277)
  requirements/py36.txt
  requirements/py37.txt
  requirements/py38.txt
  requirements/py39.txt
Due: none

Configure pytest in pytest.ini
  MANIFEST.in
  pyproject.toml
Due: check-manifest

Configure pytest in pytest.ini (#278)
  MANIFEST.in
  pyproject.toml
Due: check-manifest

Path conditions:
  check-manifest: any of: ^MANIFEST\.in$
  flake8: any of: \.py$
  isort: any of: \.py$
